<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Termine</title>
</head>
<body>
    <a href="/">Zurück zum Menü</a> <br>
    <a href="notenuebersicht">Zu der Notenübersicht</a>
    <h1>Termine</h1>

    <h2>Neuen Termin hinzufügen</h2>
    <form action="/appointments/add" method="post">
        <label>Fach:</label>
        <input type="text" name="title" required><br>

        <label>Beschreibung:</label>
        <input type="text" name="description"><br>

        <label>Datum:</label>
        <input type="date" name="date" required min="{{ today }}"><br>

        <label>Kategorie:</label>
        <select name="category" required>
            <option value="Schulaufgabe">Schulaufgabe</option>
            <option value="Kurzarbeit">Kurzarbeit</option>
        </select><br>

        <button type="submit">Termin hinzufügen</button>
    </form>

    <h2>Alle Termine</h2>
    <ul>
        {% for appointment in appointments %}
            <li>
                {{ appointment["date"][8:10] }}/{{ appointment["date"][5:7] }}/{{ appointment["date"][0:4] }} - {{ appointment["title"] }} - {{ appointment["category"] }} - {{ appointment["description"] }}
                <form action="/appointments/delete/{{ appointment['id'] }}" method="POST" style="display:inline;">
                    <button type="submit">Löschen</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
